[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/onehealth-cookbooks/apache2
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/passenger_apache2"]
	path = cookbooks/passenger_apache2
	url = https://github.com/opscode-cookbooks/passenger_apache2.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
